# ROS2 workspace build files
build/
install/
log/
.rosinstall
.vscode/
*.log
src/vision/vision/test.py
src/vision/vision/__pycache__
src/offboard_controller/offboard_controller/__pycache__
src/visualizer/visualizer/__pycache__

